main{
    background-image: url('../sprites/bakgrunn.jpg');
    background-size: contain;
    height: 500px;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    position: relative;
}

@keyframes runningMario {
    feom {background-image: url('../sprites/staa.png')}
    to {background-image: url('../sprites/lopende.png');}

    }




@keyframes runningGompa {/* flyttet denne og da fikk jeg den ikke til å finke lengere.*/
        from {background-image: url('../sprites/sopp.png') }
        to {background-image: url('../sprites/sopp-kopi.png');}

}

#supermario{
    background-image: url('../sprites/staa.png');
    background-size: contain;
    height: 50px;
    width: 50px;
    position: absolute;
    bottom: 53px;
    animation-name: runningMario;
    animation-iteration-count: infinite;
    animation-duration: 0.5s;
    
}





#gompa{
    background-image: ('../sprites/sopp.png');
    background-size: contain;
    height: 50px;
    position: absolute;
    bottom: 53px;
    right: 0;
    animation-name: runningGompa;
    animation-iteration-count: infinite;
    animation-duration: 0.5;

    
}